/**
 * Minicart wrapper styles
 */
.minicart-wrapper {
  position: relative;

  &:after {
    @extend %u-fixed-backdrop;
    opacity: 0;
    visibility: hidden;
  }

  &.active {
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }

  .showcart {
    position: relative;

    .counter-label,
    .text {
      @extend %u-sr-only;
    }

    &.action {
      @include ms-icon($minicart-icon, $minicart-icon-size);
      @include size($minicart-button-width, $minicart-button-height);
      position: relative;
      display: inline-block;
      color: $header-content-color;
      text-decoration: none;
      text-align: center;
      border: 1px solid $white;
      border-radius: 4px;
      padding: 4px 8px 4px 6px;

      &:before {
        position: relative;
        top: 5px;
        font-size: 20px;
      }

      &:focus {
        color: theme-color('dark');
        border: 0 none;
      }

      .counter {
        @include absolute(-11px, auto, auto, 25px);
        background: $counter-light-bg;
        color: $counter-light-color;
        font-size: $counter-size;
        min-width: 22px;
        min-height: 22px;
        padding: 2px 6px;
        border-radius: 1000px;
        text-align: center;
        width: auto;

        @include respond-to-down(md) {
          font-size: 10px;
          min-width: 23px;
          line-height: 18px;
          left: 25px;
        }

        &.empty {
          opacity: 0;
        }
      }
    }
  }
}