// Breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$breakpoints: (
        xs:  0px,
        sm:  320px,
        smm: 430px,
        md:  768px,
        lg:  992px,
        xl:  1200px,
        xxl: 1440px
) !default;

@include _assert-ascending($breakpoints, '$breakpoints');
@include _assert-starts-at-zero($breakpoints);

