// Links
//
// Style anchor elements.

$link-color:                $nhsuk-link-color !default;

$link-decoration:           underline !default;
$link-hover-color:          $nhsuk-link-hover-color !default;
$link-hover-decoration:     none !default;