<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="shipping-address-item"
     role="radio"
     aria-checked="false"
     attr="'aria-checked': isSelected() ? 'true' : 'false'"
     tabindex="0"
     css="'selected-item' : isSelected() , 'not-selected-item':!isSelected()"
     data-bind="event: { keypress: selectAddress, click: selectAddress}">
    <text args="address().prefix"></text> <text args="address().firstname"></text> <text args="address().middlename"></text>
    <text args="address().lastname"></text> <text args="address().suffix"></text><br/>
    <text args="_.values(address().street).join(', ')"></text><br/>
    <text args="address().city "></text>, <span text="address().region"></span> <text args="address().postcode"></text><br/>
    <text args="getCountryName(address().countryId)"></text><br/>
    <text if="address().telephone" args="address().telephone"></text><br/>

    <each args="data: address().customAttributes, as: 'element'">
        <text args="$parent.getCustomAttributeLabel(element)"></text>
        <br/>
    </each>

    <button visible="address().isEditable()" type="button"
            class="action edit-address-link"
            click="editAddress">
        <span translate="'Edit'"></span>
    </button>
    <!-- ko if: (!isSelected()) -->
    <button type="button"  class="action action-select-shipping-item" tabindex="-1">
        <span translate="'Ship Here'"></span>
    </button>
    <!-- /ko -->
</div>
