<!--The 'step_code' value from the .js file should be used-->
<li id="login_step" data-bind="fadeVisible: isVisible" afterRender="loginStepRenderComplete">
    <h2 class="step-title" data-bind="i18n: 'Sign in'" data-role="title"></h2>
    <div id="checkout-step-login"
         class="step-content"
         data-role="content">

        <each args="getRegion('customer-email')" render="" />

        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
            <div class="actions-toolbar" data-bind="scope: requestChild('customer-email')">
                <div class="primary" data-bind="css: { passwordShown: isPasswordVisible, disableField: (isLoading) }">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span data-bind="fadeVisible: isPasswordVisible() == false"><!-- ko i18n: 'Next'--><!-- /ko --></span>
                        <span data-bind="fadeVisible: isPasswordVisible"><!-- ko i18n: 'Continue as Guest'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>